/* 重置样式 */ 
h1,h2,h3,h4{
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

// lv ha 
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/*  login  */

.panel { 
   background-color: transparent;
   border:none;
   margin-top: 150px;

  .panel-heading{

    .panel-title {
       font-size: 18px;
    }
  }

  .panel-body {
    background-color: #fff;
  }
 
}

/*  公共组件  */

/* 侧边栏 */

.aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  background-color: #222D32;
  z-index: 2;
  transition: all 1s;
  
  &.hide-slide {
    left: -180px;
  }

  .title {
    width: 180px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background-color: #367FA9;
  }

  .user {
     width: 100%;
     padding-top: 30px;

     img {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
     }

     p {
       text-align: center;
       color: white;
       font-size: 20px;
       padding-top: 8px;
       text-shadow: 2px 2px 2px #ccc;
     }
  }

  .list {
     padding-top: 30px; 

     ul {

       li {
         padding: 3px 0;

         a {
           display: block;
           width: 100%;
           height: 40px;
           line-height: 40px;
           color: whitesmoke;
           font-size: 16px;
           padding-left: 40px;
           border-left: 3px solid transparent;

           i {
             padding-right: 6px;
           }
         }

         a.active {
           background-color:#1D1F21;
           border-left-color: #006699; 
         }

         .second {
           display: none;

           > a {
             padding-left: 60px;
           }
         }

       }
     }
  }

}

/* 顶部 */

.site-top {
   width: 100%;
   height: 50px;
   position: fixed;
   top: 0;
   background-color: #3C8DBC;
   padding-left: 180px;
   transition: all 1s;
   
   &.hide-slide {
     padding-left: 0;
   }

   a {
     text-align: center;
     display: block;
     width: 50px;
     height: 50px;
     padding-top: 11px;

     i {
       font-size: 24px;
       color: whitesmoke;
      }

   }
   
}

/* 模态框 */
.modal-body {
   .red {
     color:#e93323;
   }
}

/*  index  */

.main {
  width: 100%;
  height: 1000px;
  padding-left: 180px;
  padding-top: 50px;
  transition: all 1s;
  
  &.hide-slide {
    padding-left: 0;
  }

  .breadcrumb {
    margin-top: 20px;
  }

  .form {
    width: 100%;

    > div {
      width: 48%;
      height: 400px;
    }

  }
}

/* 表格样式 */

.table.user-table tr td {
  text-align: center;
  vertical-align: middle;
}

.table.first-table {
  margin-top: 25px;
}

.table.first-table thead tr th,
.table.first-table tbody tr td {
  text-align: center;
  vertical-align: middle;
}