/*  login  */
body {
  background-color: #222D32;
}

.panel { 
   background-color: transparent;
   border:none;
   margin-top: 150px;

  .panel-heading{

    .panel-title {
       font-size: 18px;
    }
  }

  .panel-body {
    background-color: #fff;
  }
 
}