/* 主体 */
.main {
  width: 100%;
  height: 100%;
}
.box {
  padding: 10px;
}
.box .nomore {
  color: #e92232;
  padding: 10px;
}
.box .title {
  height: 30px;
  line-height: 30px;
}
.box .title > span {
  float: left;
}
.box .title .right {
  float: right;
}
.box .title .right > span {
  padding-left: 3px;
}
.box .history {
  margin-top: 10px;
  border: 1px dashed #e92232;
}
.box .history li {
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border-bottom: 1px dashed #e92232;
}
.box .history li:last-of-type {
  border-bottom: none;
}
.box .history li a {
  height: 30px;
  display: block;
  float: left;
}
.box .history li i {
  float: right;
  line-height: 30px;
}
