

/*  主体容器  */

.main {
  width: 100%;
  height: 100%;
  position: relative;

  // 图片区样式
  .nav {
    li {
      float: left;
      width: 33.3%;
      
      a {
        display: block;

        img {
            display: block;
            width: 100%;
        }
      }
    }
  }
   
}