/*  样式重置  */
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
/* 全屏容器 */
body,
html {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.container {
  width: 100%;
  height: 100%;
  padding: 45px 0 55px;
  /* 产品区 */
  /* 搜索框 */
}
.container .header {
  position: absolute;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  padding: 0 45px;
  background-color: #006699;
}
.container .header > a {
  position: absolute;
  top: 0;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: aliceblue;
  font-size: 18px;
}
.container .header .icon-left {
  left: 0;
}
.container .header .icon-right {
  right: 0;
}
.container .header h1 {
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: aliceblue;
  font-size: 20px;
}
.container .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 55px;
  width: 100%;
  background-color: #006699;
}
.container .footer ul {
  width: 100%;
}
.container .footer ul li {
  float: left;
  width: 25%;
}
.container .footer ul li a {
  display: block;
  height: 55px;
  text-align: center;
  padding-top: 5px;
}
.container .footer ul li a.current i,
.container .footer ul li a.current p {
  color: orange;
}
.container .footer ul li a i {
  font-size: 25px;
  color: aliceblue;
}
.container .footer ul li a p {
  color: aliceblue;
}
.container .product {
  padding: 10px;
}
.container .product li {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}
.container .product li:nth-child(2n-1) {
  float: left;
}
.container .product li:nth-child(2n) {
  float: right;
}
.container .product li:nth-child(3),
.container .product li:nth-child(4) {
  margin: 10px 0;
}
.container .product li img {
  width: 100%;
  margin: 0 auto;
}
.container .product li p {
  font-size: 18px;
}
.container .product li p > span.oldprice {
  text-decoration: line-through;
}
.container .product li p > span.price {
  color: #e93323;
}
.container .product li p:nth-of-type(2) {
  margin: 10px 0;
}
.container .search {
  position: relative;
  width: 100%;
  padding: 10px;
}
.container .search input {
  padding: 0;
  margin: 0;
  font-size: 12px;
  border: 1px solid #0ba0e6;
  border-radius: 8px;
  padding-left: 20px;
}
.container .search button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 54px;
  height: 40px;
  border-radius: 0 8px 8px 0;
}
